<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GradForce</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin.css" rel="stylesheet">

</head>
<style>
    .font-custom {

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 13px;
        font-weight: 10;
        line-height: 2;
        color: #212529;
    }
</style>

<body class="bg-dark font-custom">

    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Send email for interview to: <%= user.fname %> <%= user.lname %></div>
            <div class="card-body">
                <form action="/mail/send-email/id=<%= user._id %>" method="POST">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="email" name="email" id="inputEmail"
                                            class="form-control font-custom" required="required" autofocus="autofocus"
                                            value="<%= user.email %>">
                                        <label for="inputEmail">Email</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="text" name="subject" id="Subject" class="form-control font-custom"
                                            value="Interview with GradForce" required="required">
                                        <label for="firstName">Subject</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group font-custom">
                            <div class="form-label-group ">
                                <% if(type == "accept"){ %>
                                    <div contenteditable="true"  name="content" id="mail-content" rows="10">
                                           <%= mail.content %> 
                                    </div>
                                    <% } %>






                                <!-- <textarea class="form-control font-custom " name="content" id="mail-content" rows="10"></textarea>
                               
                                <% if(type == "normal"){ %>
                                <textarea class="form-control font-custom" name="content" id="mail-content"
                                    rows="10">Normal</textarea>
                                <% } %> -->
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block font-custom" type="submit">
                            <span>Send</span>
                        </button>
                    </div>
                </form>
                <div class="text-center" style="text-align: center">
                    <a class="d-block small mt-3" href="/adminpanel/tables">Return</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>