<!DOCTYPE html>
<html lang="en">

<head>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
  <!-- One reload to refresh the content -->
  <script type='text/javascript'>
    (function () {
      if (window.localStorage) {
        if (!localStorage.getItem('firstLoad')) {
          localStorage['firstLoad'] = true;
          window.location.reload();
        } else
          localStorage.removeItem('firstLoad');
      }
    })();
  </script>
  <script>
    window.onload = function () {
      setTimeout(function () {
        document.body.style.opacity = "100";
      }, 300);
      window.scrollTo(0, 0);
    };

    var increment = 0;
    var elementId = 0;
    var diego = 0;
  </script>

  </script>
  <div w3-include-html="/partials/head.html"></div>

  <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status == 200) {
                elmnt.innerHTML = this.responseText;
              }
              if (this.status == 404) {
                elmnt.innerHTML = "Page not found.";
              }
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }
          xhttp.open("GET", file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
  </script>
</head>

<body>
  <!-- for pop up message -->
  <link rel="stylesheet" href="/assets/css/colorbox.css" />

  <style>
    body {
      opacity: 0;
    }
  </style>
  <% include ./partials/header %>
  <main id="std-profile">

    <!-- Details section -->

    <!-- WORKING OK -->


    <div id="std-details" class="box">
      <a id="std-details-edit">
        <img class="editbtn" src="/assets/img/icons/edit.png" alt="edit icon">
      </a>
      <% if(user.img.data){ %>
      <img class="centerimg mb10" style="max-width: 300px; max-height: 300px;" src="<%= user.img.data %>"
        alt="No photo">
      <% } else if(user.photo) { %>
      <img class="centerimg mb10" src="<%= user.photo %>" alt="No photo">
      <% } else { %>
      <img class="centerimg mb10" src="/assets/img/profile-placeholder.jpg" alt="No photo">
      <% } %>
      <h1 class="center" id="companyName"><%= user.companyName %></h1>
      <!-- <h2 class="center mb15" id="title"><%= user.title %></h2> -->
      <hr class="mb10">
      <h2 class="mb10">Contact Information</h2>
      <label for="webSite inline">Web Site:</label>
      <p class="mb10"><a style="text-decoration: none" href="http://<%= user.webSite%>"><%= user.webSite%></a></p>
      <label for="email">Email address:</label>
      <p class="mb10"><%= user.email%></p>
      <% if(user.phone_number){ %>
      <label for="phone">Phone number:</label>
      <p class="mb10"><%= user.phone_number%></p>
      <% } %>
    </div>

    <!-- Modal for details section -->

    <!-- WORKING OK -->

    <div id="details-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeDetails" onclick="closeModal(id)">&times;</span>
          <h1>Personal Details</h1>
        </div>
        <div class="modal-body">
          <form id="edit-role-form" action="/profile/update-details/<%= user._id %>?_method=PUT" method="POST">
            <div id="edit-form-content">
              <label for="fname" class="mb2">
                Profile photo
              </label>
              <br>
              <div> <input type="file" id="fileInput">
              </div>
              <div id="fileDisplayArea"></div>
            </div>
            <div id="edit-form-content">
              <label for="fname" class="mb2">
                Company name
              </label>
              <br>
              <input placeholder="Company name" name="companyName" id="company" class="text-input mb10"
                value="<%= user.companyName%>">
            </div>
            <div id="edit-form-content">
              <label for="title" class="mb2">
                Web site
                <br>
                <input placeholder="Ex: www.mysite.com" name="webSite" id="webSite" class="text-input mb10"
                  value="<%= user.webSite%>">
            </div>
            <div id="edit-form-content">
              <label for="title" class="mb2">
                Contact person
              </label>
              <br>
              <input placeholder="First name" name="fname" id="fname" class="text-input mb10" value="<%= user.fname%>">
              <input placeholder="Last name" name="lname" id="lname" class="text-input mb10" value="<%= user.lname%>">
            </div>
            <div id="edit-form-content">
              <label for="title" class="mb2">
                Phone
              </label>
              <br>
              <input placeholder="Phone number" name="phone" id="phone" class="text-input mb10"
                value="<%= user.phone_number%>">
            </div>
        </div>
        <div class="modal-footer">
          <div id="modal-footer-buttons">
            <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
              <span id="closeDetails" onclick="closeModal(id)">Cancel</span>
            </button>
            <button id="detailsSubmit" type="button" class="btn btnGreen mt10">
              <span>Save</span>
            </button>
          </div>
        </div>
        <input type="hidden" name="newPhoto" id="newPhoto">
        </form>
      </div>
    </div>



    <!-- About me paragraph -->

    <!-- WORKING OK -->

    <div id="std-about" class="box">
      <!-- Trigger/Open The Modal -->
      <div class="about-info">
        <a id="std-about-edit">
          <img class="editbtn" src="assets/img/icons/edit.png" alt="edit icon">
        </a>
        <h1 class="mb20">Description</h1>
        <p><%= user.about %></p>
      </div>
    </div>


    <!-- About popup for editing -->
    <!-- About modal -->

    <!-- WORKING OK -->

    <div id="about-modal" class="modal">
      <!-- About modal -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeAbout" onclick="closeModal(id)">&times;</span>
          <h1>Description</h1>
        </div>
        <div class="modal-body">
          <form id="edit-role-form" action="/profile/update-about/<%= user._id%>?_method=PUT" method="POST">
            <div id="edit-form-content">
              <label for="about-summary" class="mb10 mt10">
                Describe the company
              </label>
              <br>
              <input placeholder="Describe your company" maxlength="90" name="summary" id="about-summary"
                class="about text-input mt10 mb10" value="<%= user.about %>">
            </div>
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                  <span id="closeAbout" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Role section -->

    <div id="std-education" class="box">
      <!-- Trigger/Open The Modal -->
      <div class="role-info">
        <a id="add-role" class="addbtn">
          <img src="/assets/img/icons/add.png" alt="add icon">
        </a>
        <h1 class="mb20">Roles</h1>
        <% var count = 0; %>
        <% user.role.forEach(function(role, i) { %>
        <% count = count + 1; %>
        <% if(i == 0) { %>
        <a class="delbtn" id="std-role-delete-<%= i %>">
          <img class="" src="/assets/img/icons/del.png" alt="del icon">
        </a>
        <% } %>
        <% if(i) { %>
        <hr class="mt20 mb20">
        <a class="delbtn" id="std-role-delete-<%= i %>">
          <img class="" src="/assets/img/icons/del.png" alt="del icon">
        </a>
        <% } %>
        <p class="mb10" style="font-weight: bold"><%= role.title %></p>
        <p class="mb10"><%= role.description %></p>
        <div class="mt20">
          <% for(j=0; j < role.skills.length; ++j) { %>
          <% if(j) { %>
          <span class="mb10 inline skill-card"><%= role.skills[j] %></span>
          <% } %>
          <% } %>
          <% }) %>
        </div>
      </div>
    </div>


    <!-- Pop up modal for adding a new Role-->
    <!-- Role Modal -->
    <div id="role-modal" class="modal">
      <!-- Role Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeAddRole" onclick="closeModal(id)">&times;</span>
          <h1>Roles</h1>
        </div>
        <div class="modal-body">
          <form id="edit-role-form" action="/profile/add-role/<%= user._id%>" method="POST">
            <div id="edit-form-content">
              <label for="role-title" class="mb10 mt10">
                What position are you looking for?
              </label>
              <br>
              <input maxlength="90" name="roleTitle" id="roleTitle" class="role text-input mt10 mb10"
                placeholder="Position" value="">
            </div>
            <div id="edit-form-content">
              <label for="role-title" class="mb10 mt10">
                Description of the Role
              </label>
              <br>
              <input maxlength="90" name="roleDescription" id="roleDescription" class="about text-input mt10 mb10"
                placeholder="Description" value="">
            </div>
            <!-- Role skills -->
            <div id="edit-form-content">
              <label for="about-summary" class="mb10 mt10">
                Enter the position <span style="font-weight: bold">Skills</span>
              </label>
              <br>
            </div>
            <!-- Role skills section -->
            <div id="role-skills-add-parent">
              <div id="role-skills-add" style="display: none">
                <input id="role-skill-add" name="roleSkillsAdd[]" list="role-skills-add-list"
                  class="skills text-input mt10 mb10">
                <datalist id="role-skills-add-list">
                  <% skills.forEach(function(skills, i){ %>
                  <option value="<%= skills.name %>"><%= skills.name %></option>
                  <% }) %>
                </datalist>
                <button id="delete-role-skill-add" type="button" class="btn btnGray inline">Delete
                </button>
              </div>
            </div>
            <button id="add-skill-add" type="button" style="margin-left: 10px;" class="btn btnGray mt20 mb20">
              <span>Add new skill</span>
            </button>
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                  <span id="closeAddRole" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Model for delete Role -->
    <div id="delete-role-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeDeleteRole" onclick="closeModal(id)">&times;</span>
          <h1 id="role_title">Delete Role</h1>
        </div>
        <div class="modal-body">
          <form id="delete-role-form" action="/profile/delete-role/<%= user._id %>?_method=PUT" method="POST">
            <div id="edit-form-content">
              <p class="sub-title mt10 mb10">Are you sure you want to delete this Role record ?</p>
            </div>
            <input type="hidden" id="deleteRoleNumber" name="deleteEduRoleNumber" type="text">
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                  <span id="closeDeleteRole" onclick="closeModal(id)">No</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Yes</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </main>

  <!-- Model for Log in pop up message -->

  <div id="popup-modal" class="box" style="display: none; background: rgb(251, 251, 251);">
    <!-- <h2 class="center" id="title">Hi <%= user.fname %> <%= user.lname %> !</h2> -->
    <h2 class="center" style="font-weight: bold; font-size: 24px">Welcome to GradForce</h2>
    <br>
    <hr>
    <br>
    <p class="mb10 center">Please complete your profile so we can continue with the process.</p>
    <p class="mb10 center">Follow the instructions we sent you to <span
        style="font-weight: bold;"><%= user.email %></span></p><br>
    <h2 class="center" style="font-weight: bold; font-size: 20px">Thanks!</h2>
  </div>

  <div w3-include-html="/partials/footer.html"></div>

  <script>
    includeHTML();

    // Get the modals
    let detailsModal = document.getElementById("details-modal");
    let aboutModal = document.getElementById("about-modal");
    let roleModal = document.getElementById("role-modal");
    let deleteRoleModal = document.getElementById("delete-role-modal");



    // Get the buttons that opens the modals

    //to add
    let roleAddBtn = document.getElementById("add-role");

    //to delete
    let deleteRoleBtn = [];


    //to edit
    let detailsEditBtn = document.getElementById("std-details-edit");
    let aboutEditBtn = document.getElementById("std-about-edit");

    // Get the <span> elements that close the modals
    var span = document.getElementsByClassName("close")[0];
    var cancelBtn = document.getElementById("cancel");

    // When the user clicks the button, open the specific modal
    aboutEditBtn.onclick = function () {
      aboutModal.style.display = "block";
    }

    detailsEditBtn.onclick = function () {
      detailsModal.style.display = "block";
    }

    cancelBtn.onclick = function () {
      modal.style.display = "block";
    }

    roleAddBtn.onclick = function () {
      roleModal.style.display = "block";
    }


    function closeModal(modelName) {
      switch (modelName) {
        case "closeAbout":
          aboutModal.style.display = "none";
          break;
        case "closeDetails":
          detailsModal.style.display = "none";
          break;
        case "closeAddRole":
          roleModal.style.display = "none";
          break;
        case "closeDeleteRole":
          deleteRoleModal.style.display = "none";
          break;
      }
    }


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {

      aboutModal.style.display = "none";
      detailsModal.style.display = "none";
      roleModal.style.display = "none";
      deleteRoleModal.style.display = "none";

    }

    // When the user clicks anywhere outside of the modal, close it

    window.onclick = function (event) {
      if (event.target == aboutModal) {
        aboutModal.style.display = "none";
      } else
      if (event.target == detailsModal) {
        detailsModal.style.display = "none";
      }
      if (event.target == roleModal) {
        roleModal.style.display = "none";
      }
      if (event.target == deleteRoleModal) {
        deleteRoleModal.style.display = "none";
      }
    }
  </script>


  <% user.role.forEach(function(role, i) { %>
  <script>
    deleteRoleBtn['<%= i %>'] = document.getElementById("std-role-delete-<%= i %>");

    deleteRoleBtn['<%= i %>'].onclick = () => {

      deleteRoleModal.style.display = "block";
      document.getElementById("deleteRoleNumber").value = '<%= i %>';
    }
  </script>
  <% }) %>

  <!-- Add skills / delete skills "append hell" section for ADD NEW ROLE-->

  <script>
    var addRole = 0;

    document.getElementById("add-skill-add").onclick = () => {

      addRole++;
      var skills = document.getElementById("role-skills-add");
      var newSkills = skills.cloneNode();

      newSkills.id = "role-skills-add" + addRole;

      var input = document.getElementById("role-skill-add");
      input.setAttribute("placeholder", "Type your skill here");
      input.setAttribute("value", "");
      var list = document.getElementById("role-skills-add-list");
      var delSkill = document.getElementById("delete-role-skill-add");
      var delScript = "$('#delete-role-skill-add" + (addRole) + "').on('click', function(){ " +
        " $('#role-skills-add" + (addRole) + "').remove(); " +
        "})";

      //Clone the list and input

      var clonedInput = input.cloneNode();
      clonedInput.setAttribute("list", "role-skills-add-list" + addRole);

      var clonedList = list.cloneNode();
      clonedList.id = "role-skills-add-list" + addRole;

      var clonedDel = delSkill.cloneNode();
      clonedDel.id = "delete-role-add-skill" + addRole;
      clonedDel.innerText = "Delete";

      //to create the scripts to delete new skills

      newSkills.appendChild(clonedInput);
      newSkills.appendChild(clonedList);
      newSkills.appendChild(clonedDel);

      var skillsParent = document.getElementById("role-skills-add-parent");
      skillsParent.appendChild(newSkills);
      document.getElementById("role-skills-add" + addRole).style.display = "block";


      var newScript = document.createElement("script");
      var inlineScript = document.createTextNode(
        "$('#delete-role-add-skill" + (addRole) + "').on('click', function(){ " +
        " $('#role-skills-add" + (addRole) + "').remove(); " +
        "})");

      newScript.appendChild(inlineScript);
      $("#del-role-skills-parent-add").append(newScript);



    }
  </script>


  <!-- Add skills / delete skills "append hell" section -->

  <% SkillCount = 0 %>
  <% user.role.forEach(function(role, i){ %>
  <% if(role.skills.length > 0) { %>
  <% for(var j = 0; j< role.skills.length; ++j){ %>
  <% if(j) { %>
  <% SkillCount = SkillCount + 1; %>
  <script>
    elementId++;
    var skills = document.getElementById("role-skills");
    var newSkills = skills.cloneNode();
    newSkills.id = "role-skills" + elementId;

    var input = document.getElementById("role-skill");
    input.setAttribute("placeholder", "Type your skill here");
    input.setAttribute("value", "<%= role.skills[j] %>")
    var list = document.getElementById("role-skills-list");
    var delSkill = document.getElementById("delete-role-skill");


    var clonedInput = input.cloneNode();
    clonedInput.setAttribute("list", "role-skills-list" + elementId);

    var clonedList = list.cloneNode(true);
    clonedList.id = "role-skills-list" + elementId;

    var clonedDel = delSkill.cloneNode();
    clonedDel.id = "delete-role-skill" + elementId;
    clonedDel.innerText = "Delete";

    newSkills.appendChild(clonedInput);
    newSkills.appendChild(clonedList);
    newSkills.appendChild(clonedDel);

    var skillsParent = document.getElementById("role-skills-parent");
    skillsParent.appendChild(newSkills);

    document.getElementById("role-skills" + elementId).style.display = "block";
  </script>
  <% } %>
  <% } %>
  <% } %>
  <% }) %>
  <script>
    //Student skills part

    increment = "<%= SkillCount %>";

    document.getElementById("add-skill").onclick = () => {

      elementId++;
      var skills = document.getElementById("role-skills");
      var newSkills = skills.cloneNode();

      newSkills.id = "role-skills" + elementId;

      var input = document.getElementById("role-skill");
      input.setAttribute("placeholder", "Type your skill here");
      input.setAttribute("value", "");
      var list = document.getElementById("role-skills-list");
      var delSkill = document.getElementById("delete-role-skill");
      var delScript = "$('#delete-role-skill" + (elementId) + "').on('click', function(){ " +
        " $('#role-skills" + (elementId) + "').remove(); " +
        "})";

      //Clone the list and input

      var clonedInput = input.cloneNode();
      clonedInput.setAttribute("list", "role-skills-list" + elementId);

      var clonedList = list.cloneNode();
      clonedList.id = "role-skills-list" + elementId;

      var clonedDel = delSkill.cloneNode();
      clonedDel.id = "delete-role-skill" + elementId;
      clonedDel.innerText = "Delete";

      //to create the scripts to delete new skills

      newSkills.appendChild(clonedInput);
      newSkills.appendChild(clonedList);
      newSkills.appendChild(clonedDel);

      var skillsParent = document.getElementById("role-skills-parent");
      skillsParent.appendChild(newSkills);
      document.getElementById("role-skills" + elementId).style.display = "block";


      var newScript = document.createElement("script");
      var inlineScript = document.createTextNode(
        "$('#delete-role-skill" + (elementId) + "').on('click', function(){ " +
        " $('#role-skills" + (elementId) + "').remove(); " +
        "})");

      newScript.appendChild(inlineScript);
      $("#del-role-skills-parent").append(newScript);


      increment++;
    }
  </script>


  <script>
    var skillDeleteBtn = [];
    j = 0;
  </script>

  <% for(i=0 ; i< SkillCount; ++i) { %>
  <script>
    skillDeleteBtn[j] = "delete-role-skill" + (j + 1);
    ++j;
  </script>
  <% } %>

  <script>
    j = 0;
  </script>

  <% for(i=0 ; i< SkillCount; ++i) { %>
  <script id="here">
    document.getElementById(skillDeleteBtn[j]).onclick = function () {
        console.log("clicked " + "<%= i +1 %>");
        console.log("#role-skills<%= i +1  %>");
        $("#role-skills<%= i +1  %>").remove();
      }
      ++j;
  </script>
  <% } %>



  <!-- Added for pop up message -->
  <% popupCounter = 0 %>
  <% if(user.status == "Profile Complete" && popupCounter == 0){ %>
  <% popupCounter = 1 %>
  <script>
    var lastFocus;

    function onPopupOpen() {
      $("#std-profile").focus();
    }

    function onPopupClose() {

      //Cookie expires after 1 day
      Cookies.set('colorboxShown', 'yes', {
        expires: 1
      });
      var myElement = document.getElementById('popup-modal');
      myElement.style.display = 'none';
      lastFocus.focus();
    }

    function displayPopup() {

      var myElement = document.getElementById('popup-modal');
      myElement.style.display = "block";

      $.colorbox({
        inline: true,
        top: "20%",
        href: "#popup-modal",
        onComplete: onPopupOpen,
        onClosed: onPopupClose
      });
    }

    setTimeout(function () {
      // var popupShown = 0;
      var popupShown = Cookies.get('colorboxShown');

      if (popupShown) {
        console.log("Cookie found. No action necessary");
      } else {
        lastFocus = document.activeElement;
        displayPopup();
      }
    }, 2000);
  </script>
  <% } %>
  <script>
    var fileInput = document.getElementById('fileInput');
    var fileDisplayArea = document.getElementById('fileDisplayArea');
    var y;

    fileInput.addEventListener('change', function (e) {
      var file = fileInput.files[0];
      var imageType = /image.*/;

      if (file.type.match(imageType)) {
        var reader = new FileReader();

        reader.onload = function (e) {
          fileDisplayArea.innerHTML = "";

          var img = new Image();
          img.src = reader.result;
          img.setAttribute("class", "profile-img");


          fileDisplayArea.appendChild(img);

          y = document.createElement('a'); // is a node
          y.setAttribute("href", img.src);
          y.setAttribute("name", "newPhotoLink");
          y.id = "newPhotoLink"
          fileDisplayArea.appendChild(y);
          document.getElementById("newPhoto").value = y.href;
        }
        reader.readAsDataURL(file);

      } else {
        fileDisplayArea.innerHTML = "File not supported!"
      }
    });

    document.getElementById("detailsSubmit").onclick = () => {

      $("#edit-role-form").submit();
    }
  </script>
  <div id="del-role-skills-parent">
  </div>
</body>

</html>