<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    window.onload = function () {
      setTimeout(function () {
        document.body.style.opacity = "100";
      }, 300);
    };
  </script>
  <!-- One reload to refresh the content -->
  <script type='text/javascript'>
    (function () {
      if (window.localStorage) {
        if (!localStorage.getItem('firstLoad')) {
          localStorage['firstLoad'] = true;
          window.location.reload();
        } else
          localStorage.removeItem('firstLoad');
      }
    })();
  </script>
  <div w3-include-html="/partials/head.html"></div>

  <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status == 200) {
                elmnt.innerHTML = this.responseText;
              }
              if (this.status == 404) {
                elmnt.innerHTML = "Page not found.";
              }
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }
          xhttp.open("GET", file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
  </script>
</head>

<body>
  <style>
    body {
      opacity: 0;
    }
  </style>
  <!-- <div w3-include-html="/partials/header.ejs"></div> -->
  <% include ./partials/header %>
  <main id="std-profile">
    <div id="std-details" class="box">
      <a id="std-details-edit">
        <img class="editbtn" src="/assets/img/icons/edit.png" alt="edit icon">
      </a>
      <% if(user.photo){ %>
      <img class="centerimg mb10" src="<%= user.photo%>" alt="No photo">
      <% } %>
      <% if(!user.photo){ %>
      <img class="centerimg mb10" src="/assets/img/profile-placeholder.jpg" alt="No photo">
      <% } %>
      <h1 class="center" id="title"><%= user.fname %> <%= user.lname %></h1>
      <h2 class="center mb15" id="title"><%= user.title %></h2>
      <hr class="mb10">
      <h2 class="mb10">Contact Information</h2>
      <label for="email">Email address:</label>
      <p class="mb10"><%= user.email%></p>
      <label for="phone">Phone number:</label>
      <p class="mb10"><%= user.phone_number%></p>
      <% if(user.address.street) { %>
      <label for="address">Address:</label>
      <p><%= user.address.unit%>, <%= user.address.street%></p>
      <p class="mb2"><%= user.address.city%>, <%= user.address.suburb%></p>
      <% } %>
    </div>

    <!-- Modal for details section -->
    <div id="details-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeDetails" onclick="closeModal(id)">&times;</span>
          <h1>Details</h1>
        </div>
        <div class="modal-body">
          <form id="edit-about-form" action="/profile/update-details/<%= user._id %>?_method=PUT" method="POST">
            <div id="edit-form-content">
              <label for="fname" class="mb2">
                First Name
              </label>
              <br>
              <input name="fname" id="fname" class="text-input mb10" value="<%= user.fname%>">
            </div>
            <div id="edit-form-content">
              <label for="lname" class="mb2">
                Last Name
              </label>
              <br>
              <input name="lname" id="lname" class="text-input mb10" value="<%= user.lname%>">
            </div>
            <div id="edit-form-content">
              <label for="title" class="mb2">
                Title
              </label>
              <br>
              <input name="title" id="title" class="text-input mb10" value="<%= user.title%>">
            </div>
            <div id="edit-form-content">
              <label for="phone" class="mb2">
                Phone
              </label>
              <br>
              <input name="phone" id="phone" class="text-input mb10" value="<%= user.phone_number%>">
            </div>
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                    <span id="closeDetails" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- about me paragraph -->
    <div id="std-about" class="box">
      <!-- Trigger/Open The Modal -->
      <div class="about-info">
        <a id="std-about-edit">
          <img class="editbtn" src="assets/img/icons/edit.png" alt="edit icon">
        </a>
        <h1 class="mb15">About you</h1>
        <p><%= user.about%></p>
      </div>
    </div>
    <!-- about popup for editing -->
    <!-- The Modal -->
    <div id="about-modal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeAbout" onclick="closeModal(id)">&times;</span>
          <h1>About</h1>
        </div>
        <div class="modal-body">
          <form id="edit-about-form" action="/profile/update-about/<%= user._id%>?_method=PUT" method="POST">
            <div id="edit-form-content">
              <label for="about-summary" class="mb2">
                Summary
              </label>
              <br>
              <textarea name="summary" id="about-summary" class=""
                placeholder="Where are you from, and define yourself in just one sentence"><%= user.about %></textarea>
            </div>
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                    <span id="closeAbout" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- education info -->
    <div id="std-education" class="box">
      <div>
        <a class="addbtn" id="add-education" href="#">
          <img src="assets/img/icons/add.png" alt="add icon">
        </a>
        <h1 class="mb15">Education</h1>
      </div>
      <!-- Show all Education -->
      <% counter = 0 %>
      <% user.education.forEach(function(element, i){ %>
      <% counter = counter + 1; %>
      <div class="education-info">
        <a class="editbtn" id="std-education-edit-<%= i %>">
          <img class="" src="assets/img/icons/edit.png" alt="edit icon">
        </a>
        <% if(i == 0) { %>
        <p class="inline" style="font-weight: bold"><%= element.course%></p>
        <br>
        <h2><%= element.educational_provider%></h2>
        <p class="inline"><%= element.start_date%></p>
        <p class="inline"> - </p>
        <p class="inline"><%= element.end_date%></p>
        <br>
        <p class="inline"><%= element.description%></p>
        <% } %>
        <% if(i) { %>
        <hr class="mt10 mb10">
        <p class="inline" style="font-weight: bold"><%= element.course%></p>
        <br>
        <h2><%= element.educational_provider%></h2>
        <p class="inline"><%= element.start_date%></p>
        <p class="inline"> - </p>
        <p class="inline"><%= element.end_date%></p>
        <br>
        <p class="inline"><%= element.description%></p>
        <% } %>
      </div>
      <% }) %>
    </div>

    <!-- Modal for edit education section -->
    <div id="education-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeEducation" onclick="closeModal(id)">&times;</span>
          <h1 id="education_title">Edit Education</h1>
        </div>
        <div class="modal-body">
          <form id="edit-about-form" action="/profile/update-education/<%= user._id %>?_method=PUT" method="POST">
            <div id="edit-form-content">
              <label for="course" class="mb2">
                Course
              </label>
              <br>
              <input id="course" class="text-input mb10" type="text" name="course" value="">
            </div>
            <div id="edit-form-content">
              <label for="provider" class="mb2">
                Educational Provider
              </label>
              <br>
              <input id="provider" class="text-input mb10" type="text" name="provider" value="">
            </div>
            <div id="edit-form-content">
              <label for="start_year_edu" class="mb2">
                Start Year
              </label>
              <br>
              <input id="start_year_edu" class="text-input mb10" type="text" name="start_year_edu" value="">
            </div>
            <div id="edit-form-content">
              <label for="end_year_edu" class="mb2">
                End Year
              </label>
              <br>
              <input id="end_year_edu" class="text-input mb10" type="text" name="end_year_edu" value="">
            </div>
            <div id="edit-form-content">
              <label for="description_edu" class="mb2">
                Description
              </label>
              <br>
              <input id="description_edu" class="text-input mb10" type="text" name="description_edu" value="">
            </div>
            <input type="hidden" id="educationNumber" name="educationNumber" type="text">
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                    <span id="closeEducation" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal for adding  education section -->
    <div id="education-modal-add" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeEducationAdd" onclick="closeModal(id)">&times;</span>
          <h1 id="education_title">Add Education</h1>
        </div>
        <div class="modal-body">
          <form id="edit-about-form" action="/profile/add-education/<%= user._id %>" method="POST">
            <div id="edit-form-content">
              <label for="course" class="mb2">
                Course
              </label>
              <br>
              <input id="course" class="text-input mb10" type="text" name="course" value="">
            </div>
            <div id="edit-form-content">
              <label for="provider" class="mb2">
                Educational Provider
              </label>
              <br>
              <input id="provider" class="text-input mb10" type="text" name="provider" value="">
            </div>
            <div id="edit-form-content">
              <label for="start_year_edu" class="mb2">
                Start Year
              </label>
              <br>
              <input id="start_year_edu" class="text-input mb10" type="text" name="start_year_edu" value="">
            </div>
            <div id="edit-form-content">
              <label for="end_year_edu" class="mb2">
                End Year
              </label>
              <br>
              <input id="end_year_edu" class="text-input mb10" type="text" name="end_year_edu" value="">
            </div>
            <div id="edit-form-content">
              <label for="description_edu" class="mb2">
                Description
              </label>
              <br>
              <input id="description_edu" class="text-input mb10" type="text" name="description_edu" value="">
            </div>
            <input type="hidden" id="educationNumber" name="educationNumber" type="text">
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                    <span id="closeEducationAdd" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- work experience -->
    <div id="std-experience" class="box">
      <div>
        <a class="addbtn" href="#">
          <img id="add-experience" src="assets/img/icons/add.png" alt="edit icon">
        </a>
        <h1 class="mb15">Work Experience</h1>
      </div>
      <% count = 0 %>
      <!-- Show all work experience -->
      <% user.work.forEach(function(element, i){ %>
      <% count = count + 1; %>
      <div class="experience-info">
        <a class="editbtn" id="std-experience-edit-<%= i %>">
          <img src="assets/img/icons/edit.png" alt="edit icon">
        </a>
        <% if(i == 0) { %>
        <p class="inline" style="font-weight: bold"><%= element.role%></p>
        <br>
        <p class="inline"><%= element.company%></p>
        <br>
        <p class="inline"><%= element.start_date%></p>
        <p class="inline"> - </p>
        <p class="inline"><%= element.end_date%></p>
        <br>
        <p class="inline"><%= element.description%></p>
        <% } %>
        <% if(i) { %>
        <hr class="mt10 mb10">
        <p class="inline" style="font-weight: bold"><%= element.role%></p>
        <br>
        <p class="inline"><%= element.company%></p>
        <br>
        <p class="inline"><%= element.start_date%></p>
        <p class="inline"> - </p>
        <p class="inline"><%= element.end_date%></p>
        <br>
        <p class="inline"><%= element.description%></p>
        <% } %>
        <% }) %>
      </div>
    </div>

    <!-- Modal for experience section -->
    <div id="experience-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeExperience" onclick="closeModal(id)">&times;</span>
          <h1>Update Work Experience</h1>
        </div>
        <div class="modal-body">
          <form id="edit-experience-form" action="/profile/update-work-experience/<%= user._id %>?_method=PUT"
            method="POST">
            <div id="edit-form-content">
              <label for="company" class="mb2">
                Role
              </label>
              <br>
              <input id="role" class="text-input mb10" type="text" name="role" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                Company
              </label>
              <br>
              <input id="company" class="text-input mb10" type="text" name="company" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                Start Year
              </label>
              <br>
              <input id="start_year" class="text-input mb10" type="text" name="start_year" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                End Year (or Present)
              </label>
              <br>
              <input id="end_year" class="text-input mb10" type="text" name="end_year" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                Description
              </label>
              <br>
              <input id="work_description" class="text-input mb10" type="text" name="work_description" value="">
            </div>
            <input type="hidden" id="experienceNumber" name="experienceNumber" type="text">
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                    <span id="closeExperience" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal for adding experience section -->
    <div id="experience-modal-add" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="closeExperienceAdd" onclick="closeModal(id)">&times;</span>
          <h1 id="experience_title">Add Working experience</h1>
        </div>
        <div class="modal-body">
          <form id="edit-experience-form" action="/profile/add-work-experience/<%= user._id %>" method="POST">
            <div id="edit-form-content">
              <label for="company" class="mb2">
                Role
              </label>
              <br>
              <input id="role" class="text-input mb10" type="text" name="role" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                Company
              </label>
              <br>
              <input id="company" class="text-input mb10" type="text" name="company" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                Start Year
              </label>
              <br>
              <input id="start_year" class="text-input mb10" type="text" name="start_year" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                End Year (or Present)
              </label>
              <br>
              <input id="end_year" class="text-input mb10" type="text" name="end_year" value="">
            </div>
            <div id="edit-form-content">
              <label for="" class="mb2">
                Description
              </label>
              <br>
              <input id="work_description" class="text-input mb10" type="text" name="work_description" value="">
            </div>
            <input type="hidden" id="experienceNumber" name="experienceNumber" type="text">
            <div class="modal-footer">
              <div id="modal-footer-buttons">
                <button type="button" id="cancel" class="btn btnGreen btnGray mt10">
                  <span id="closeExperienceAdd" onclick="closeModal(id)">Cancel</span>
                </button>
                <button type="submit" class="btn btnGreen mt10">
                  <span>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <div w3-include-html="/partials/footer.html"></div>

  <script>
    includeHTML();

    // Get the modals
    let detailsModal = document.getElementById("details-modal");
    let aboutModal = document.getElementById("about-modal");
    let educationModal = document.getElementById("education-modal");
    let educationModalAdd = document.getElementById("education-modal-add");
    let experienceModal = document.getElementById("experience-modal");
    let experienceModalAdd = document.getElementById("experience-modal-add");

    // Get the buttons that opens the modals

    //to add
    let addEducation = document.getElementById("add-education");
    let addExperience = document.getElementById("add-experience");

    //to edit
    let detailsEditBtn = document.getElementById("std-details-edit");
    let aboutEditBtn = document.getElementById("std-about-edit");
    let educationEditBtn = [];
    let experienceEditBtn = [];
    let i = 0;
  </script>

  <%  for(var i = 0; i < count; ++i) { %>
  <script>
    experienceEditBtn[i] = document.getElementById("std-experience-edit-" + i);
    ++i;
  </script>
  <% } %>


  <script>
    j = 0;
  </script>
  <%  for(var i = 0; i < counter; ++i) { %>
  <script>
    educationEditBtn[j] = document.getElementById("std-education-edit-" + j);
    ++j;
  </script>
  <% } %>

  <script>
    // Get the <span> elements that close the modals
    var span = document.getElementsByClassName("close")[0];
    var cancelBtn = document.getElementById("cancel");

    // When the user clicks the button, open the specific modal 
    aboutEditBtn.onclick = function () {
      aboutModal.style.display = "block";
    }
    i = 0;
  </script>

  <!-- Keep all work experience's ID in an array -->
  <% for(var i=0 ; i< count ; ++i) { %>
  <script>
    experienceEditBtn[i].onclick = function () {
        document.getElementById("role").value = '<%= user.work[i].role %>';
        document.getElementById("company").value = '<%= user.work[i].company %>';
        document.getElementById("start_year").value = '<%= user.work[i].start_date %>';
        document.getElementById("end_year").value = '<%= user.work[i].end_date %>';
        document.getElementById("work_description").value = '<%= user.work[i].description %>';
        document.getElementById("experienceNumber").value = '<%= i %>';
        experienceModal.style.display = "block";
      }
      ++i;
  </script>
  <% } %>
  <script>
    j = 0;
  </script>
  <!-- Keep all education's ID in an array -->
  <% for(var i=0 ; i< counter ; ++i) { %>
  <script>
    educationEditBtn[j].onclick = function () {
        document.getElementById("course").value = '<%= user.education[i].course %>';
        document.getElementById("provider").value = '<%= user.education[i].educational_provider %>';
        document.getElementById("start_year_edu").value = '<%= user.education[i].start_date %>';
        document.getElementById("end_year_edu").value = '<%= user.education[i].end_date %>';
        document.getElementById("description_edu").value = '<%= user.education[i].description %>';
        document.getElementById("educationNumber").value = '<%= i %>';
        educationModal.style.display = "block";
      }
      ++j;
  </script>
  <% } %>

  <script>
    //Add education button
    addEducation.onclick = function () {
      educationModalAdd.style.display = "block";

    }

    //Add work experience button
    addExperience.onclick = function () {
      experienceModalAdd.style.display = "block";
    }

    detailsEditBtn.onclick = function () {
      detailsModal.style.display = "block";
    }

    cancelBtn.onclick = function () {
      modal.style.display = "block";
    }

    function closeModal(modelName) {
      switch (modelName) {
        case "closeAbout":
          aboutModal.style.display = "none";
          break;
        case "closeDetails":
          detailsModal.style.display = "none";
          break;
        case "closeExperience":
          experienceModal.style.display = "none";
          break;
        case "closeEducation":
          educationModal.style.display = "none";
          break;
        case "closeEducationAdd":
          educationModalAdd.style.display = "none";
          break;
        case "closeExperienceAdd":
          experienceModalAdd.style.display = "none";
          break;
      }
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      aboutModal.style.display = "none";
      detailsModal.style.display = "none";
      experienceModal.style.display = "none";
      educationModal.style.display = "none";
      experienceModalAdd.style.display = "none";
      educationModalAdd.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it

    // NOT WORKING

    /*window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }*/
  </script>
</body>

</html>