<!DOCTYPE html>
<html lang="en">

<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GradForce</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin.css" rel="stylesheet">

</head>
<style>
    .font-custom {

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 13px;
        font-weight: 10;
        line-height: 2;
        color: #212529;
    }

    .education p {

        margin-bottom: 2px;
    }

    .student-title {
        font-weight: bold;
    }

    .big {
        font-size: 20px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .med {
        font-size: 15px;
    }

    .normal {
        font-weight: normal;
        margin-bottom: 2px;
    }

    .sub-title {
        font-size: 18px;
        font-weight: normal;
    }

    .very-small {
        font-size: 11.5px;
    }

    #editprofile-button:hover {
        opacity: 0.9;
    }
</style>

<body class="bg-dark font-custom">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-3">
                        <p><img style="width: 110%; height: 110%; padding: 15px;" src="<%= user.photo %>"
                                alt="Profile photo"></p>
                    </div>
                    <div class="col-9">
                        <p class="inline student-title big"><%= user.fname %> <%= user.lname %>
                            <% if(user.title) { %>
                            <span class="sub-title">
                                | <%= user.title %></span>
                            <% } %>
                        </p>
                        <p class="inline student-title med normal"><i class="far fa-envelope-open"></i>
                            <%= user.email %>
                            <a class="very-small" href="/adminpanel/send-email/default/<%= user._id %>">Send email</a>
                        </p>
                        <% if (user.address.street) { %>
                        <p class="inline student-title med normal"><i class="fas fa-map-marker-alt"></i>
                            <%= user.address.unit %>, <%= user.address.street %>.
                            <%= user.address.city %>, <%= user.address.suburb %></p>
                        <% } %>

                        <% if (user.phone_number) { %>
                        <p class="inline student-title med normal"><i class="fas fa-phone-volume"></i>
                            <%= user.phone_number %>
                        </p>
                        <% } %>
                        <p><%= user.status %> | <%= user.description %></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-row">
                        <% if((user.about)){ %>
                        <div class="col-md-12 education">
                            <p class="inline student-title big">About</p>
                        </div>
                        <div class="col-12 education">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <p style="background-color:rgba(0, 0, 0, 0.008);">
                                        <span><%= user.about%></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <!-- Work experience -->
                        <div class="col-md-12 education">
                            <% if((user.work.length)){ %>
                            <p class="inline student-title big">Work experience</p>
                        </div>
                        <div class="col-12 education">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <% user.work.forEach(function(element, i){ %>
                                    <p style="background-color:rgba(0, 0, 0, 0.008);">
                                        <span class="student-title"><%= element.role  %></span><br>
                                        <span><%= element.company %></span><br>
                                        <span><%= element.country  %></span><br>
                                        <span><%= element.start_date %> - <%= element.end_date  %> </span><br>
                                        <span><%= element.description %></span>
                                    </p>
                                    <% }) %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <!-- Educational information -->
                        <div class="col-md-12 education">
                            <% if((user.education.length)){ %>
                            <hr>
                            <p class="inline student-title big">Education</p>

                            <% user.education.forEach(function(element, i){ %>
                            <p style="background-color:rgba(0, 0, 0, 0.008);">
                                <span class="student-title"><%= element.course%></span><br>
                                <span><%= element.educational_provider%></span><br>
                                <span><%= element.start_date%> - <%= element.end_date%></span>
                            </p>
                            <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="text-align: center">
                    <a style="text-decoration: none" href="/adminpanel/tables"><button type="button"
                            id="editprofile-button" class="btn btn-light font-custom"
                            style="background: lightblue">Return</button></a>
                </div>
            </div>

        </div>
    </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>